# Virtual environment folder
venv/
env/
*.env

# PyCharm specific files
.idea/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Windows specific files
Thumbs.db

# Distribution / packaging
*.egg
*.egg-info
dist/
build/
pip-wheel-metadata/

# PyInstaller
*.manifest
*.spec

# Pytest
.cache/

# mypy
.mypy_cache/

# Coverage reports
.coverage
*.cover
nosetests.xml
coverage.xml
*.hypothesis/


# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal