<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pythagorean Triple Checker</title>
</head>
<body>

<h1>Pythagorean Triple Checker!</h1>

<form>
    <div class="form">
        <label for="side_1">Side #1: </label><br>
        <input id="side_1" type="text" name="side_1_field">
        <div class="error"></div>
    </div>

    <div class="form">
        <label for="side_2">Side #2: </label><br>
        <input id="side_2" type="text" name="side_2_field">
        <div class="error"></div>
    </div>

    <div class="form">
        <label for="side_3">Side #3: </label><br>
        <input id="side_3" type="text"  name="side_1_field">
        <div class="error"></div>
    </div>

</form>

</body>
</html>